<!DOCTYPE html>

<html lang="en">

<head>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
    <link href="/static/styles.css" rel="stylesheet">
    <title>Birthdays</title>
</head>

<body>
    <div class="header">
        <h1>Birthdays</h1>
    </div>
    <div class="container">
        <div class="section">

            <h2>Add a Birthday</h2>
            <form action="/" autocomplete="off" method="POST">
                <input type="text" name="name" placeholder="Name" />
                <input type="text" name="month" placeholder="Month" />
                <input type="text" name="day" placeholder="Day" />
                <button type="submit">Add Birthday</button>
            </form>
        </div>

        <div class="section">

            <h2>All Birthdays</h2>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Birthday</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for birthday in birthdays %}
                    <tr>
                        <td>{{ birthday.name }}</td>
                        <td>{{ birthday.month }}/{{birthday.day}}</td>
                        <td class="actions">
                            <a href="{{ url_for('edit', birthdayId=birthday.id) }}" class="edit">Edit</a>

                            <form action="{{ url_for('delete', birthdayId=birthday.id) }}" method="POST">
                                <button class="delete" type="submit">Delete</button>
                            </form>
                        </td>
                        </li>
                        {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</body>

</html>